.footer {
    background-color: #2E2F42;
    width: 1440;
    height: 312;
    top: 2988px;
    angle: 0 deg;
    opacity: 1;
    
}

.footer-logo {
    text-decoration: none;
    color: #F4F4FD;
    font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 18px;
leading-trim: NONE;
line-height: 21px;
letter-spacing: 3%;
vertical-align: middle;
text-transform: uppercase;


}

.footer-text {
    color: #F4F4FD;
    font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 2%;
    celinder: left;


}