.header {
    text-decoration: none;
    list-style-type: none;
    background-color: #FFFFFF;
}

.nav-link {
    list-style-type: none;
    color: #2E2F42;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 2%;

}
.contact-info {
    text-decoration: none;
    list-style-type: none;
    color: #434455;
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 2%;

}